body{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    scrollbar-color: dark;
    font-family: 'Baloo Da 2', cursive;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    box-shadow:inset 0 0 5px grey;
    border: rgb(109, 32, 32);
    /* border-radius: 20px; */
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to bottom,#64e8de,#8a64eb) ;
    border-radius: 10px;
}
.navd{
    position: fixed;
    display: flex;
    background-color:#bed7d7;
    box-sizing: border-box;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    /* text-align: center; */
    width: 100%;
    /* float: left; */
    opacity: 0.9;
    
}
#btnin{
    display: none;
}
ul{
    display: flex;
    align-items: flex-end;
    gap: 1em;
    
}
li{
    font-size: 1.2rem;
    display: block;
    padding: 3px 20px;
    margin:2px 2px ;
    list-style: none;
}
ul li a{
    color: #3b3b42;
}

@media only screen and (max-width:845px){
    /* .navd ul{
        /* padding-top: 30px; 
        margin-left: 50%;
        margin-top: 2rem;
        display: inline;
    }
    .navd{
        padding: 25px;
        width: 100vh;
        position: sticky;
    }
    #image1{
        width: 45px;
        padding-left: 0px;
    } */
    /* #About img{
        display:none;
    } */
    .angle-down-icon{
        display: none;
    }
    .navd {
    position: relative;
    display: flex;
    background-color:#bed7d7;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
    .navd  ul li{
        /* width: 50%; */
    }
    /* #btnin{
        display: block;
        cursor: pointer; */

    /* } */
}
#image1{
    
    width: 45px;
    height: 46px;
    padding-left: 20px;
    /* margin: 6px 6px; */
}
.navd a:hover{
    color: white;
}

/* home page */
#Home{
    text-align: center;
    
}
.intro{
    background-image: url('./images/home.jpg');
    text-align: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: cover;
    color: white;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* padding: 15rem; */
    /* padding-bottom: 15rem; */
}
.intro span{
    width: 100%;

}
.intro img{
    display: block;
    width: 30vh;
    border-radius: 54px;
}
#read{
    display: none;
}
#less-more{
    cursor: pointer;
    border-radius: 14px;
    background-color: cyan;
}
.angle-down-icon{
    position: absolute;
    /* transform: translate(-50,-50); */
    /* margin-left: 20em;
    margin-right: 20em; */
    font-size:2rem;
    border: 3px solid #07374a;
    border-radius: 50%;
    position: absolute;
    /* bottom: 10%; */
    /* left: 50%; */
    font-size: 2rem;
    border: 3px solid #07374a;
    border-radius: 50%;
    width: 4%;
    text-align: center;
    margin-left: 50%;
    margin-top: -5%;
}
.angle-down-icon a{
    text-decoration: none;
    color: #07374a;
    padding: 1rem;
}

/* //About page */
#aboutpage{ 
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    width: 100%;
    height: 100%;
    background-size: 400% 400%;
    box-sizing: border-box;
    animation: gradient 15s ease infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Projects*/
.projects{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Da 2', cursive;
}
.project{
    border:2px solid black;
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;

}
.project:hover{
    box-shadow: black 5px 5px 15px;
    /* width: 25%; */
    transition: box-shadow 0.5s ease-in;
}
.description{
width: 100%;
}
.projimage{
    width: 50%;
    height: 50%;
    cursor: pointer;
}
.inage{
    width: 100%;
    height: 100%;
}
#projects{
    display: none;
}
#projects a{
    text-decoration: none;
    color: black;
}
@keyframes gradient{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
#animation{
    text-align: center;
    padding-top: 11rem;

}
#animation img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    border-radius: 26px;
}
/* #skills{
    margin-right: 16vh;
} */
.bars{
    width: 100%;
    
    text-align: center;
    /* border: 2px solid hsl(0, 0%, 0%); */
    display: flex;
    justify-content: space-between;
}
.bar{
    padding:1rem ;
    background: linear-gradient(-45deg,#ff9482,#7d77ff);
    font-size: larger;
    /* border: 2px solid red; */
    cursor: pointer;
    width: 47%;
    
}

.bar:hover{
    transition: width 0.5s ease-in;
    background: linear-gradient(45deg,#ff9482,#7d77ff);
    width: 50%;
    box-shadow: black 2px 2px 15px;
    /* opacity: 0.8; */
}

#coder:hover{
    box-shadow: rgb(62, 55, 55) 3px 3px 10px;
    transition: all 0.5s ease-in-out;
    /* cursor: pointer; */
}
.aboutdiv{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}
.rank div:hover{
    box-shadow: black 5px 5px 15px;
    /* width: 25%; */
    transition: box-shadow 0.5s ease-in;
}
.rank{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 4rem; */
    justify-content: center;
    width: 40%;
    height: 30%;
}
.rank div{
    /* border:1px solid black; */
    border-radius: 15px 5px;
    cursor: pointer;
    background-size: cover;
}
#skill1{
    background-image: url("./images/c-.png");

}
#skill2{
    background-image: url("./images/letter-c.png");

}
#skill3{
    background-image: url("./images/data-structure.png");

}
#skill4{
    background-image: url("./images/html.png");

}
#skill5{
    background-image: url("./images/css.png");

}
#skill6{
    background-image: url("./images/js.png");

}
#skill7{
    background-image: url("./images/physics.png");
    opacity: 1;
    /* background: black; */

}
.lang{
    display: block;
    width: 8rem;
    height:8rem;
}
@media screen and (max-width:845px){
    #coder{
        display: 
        none;
    }
    .navd ul{
        gap: 0;
    }
    .project{
        /* flex-direction: row; */
        width: 70%;
    }
}
/* Social */
#social{
    text-align: center;
     /* background-image: url('./images/homebg.jpg'); */
     background: linear-gradient(45deg,black,rgb(77, 75, 75));

     /* background-size: cover; */
     
}
/* .footer{
    display: flex;
    background-color: #181919;
    justify-content: center;
    align-items: center;
} */
.footerbody{
    display: block;

    padding-top: 64px;
    padding-bottom: 65px;
    width: 50%;
}
.wraped-over{
    width: 75%;
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.footer-avatar{
    width: 50%;
    height: 50vh;
}
.social-link{
    margin: 10px;
}
.git{
    color: gray;
}
.social-link:hover{
    padding: 10px;
    transition: all 0.4s;
}